.input {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: 0.2em solid #e91e63;
    background: rgba(#e91e63, 0.2);
    border-radius: 0.2em 0.2em 0 0;
    padding: 0.4em;
    color: #e91e63;

    &:focus:not(:disabled) {
        border-bottom: 0.2em solid rgba(rgb(185, 185, 69) 9, 171, 94);
    }
}
