.input {
 
  appearance: none;
    border: none;
    outline: none;
    border-bottom: 0.2em solid #e91e63;
    background: #e6e0e9;
    border-radius: 0.2em 0.2em 0 0;
    padding: 0.8em;
    color: #e91e63;

    &--filled {
        color: #ffffff;
        background: #e6e0e9;
        border-bottom: 0.1em solid #49454f;
        .dark-theme & {
            background-color: #d0bcff;
            color: #381e72;
        }

        &:disabled {
            background-color: #f5eef6;
            border-bottom: 0.1em solid #a39ea5;
        
            .dark-theme & {
                background-color: #2e2b31;
                color: #737077;
            }
        }

        &-hover:not(-disabled),
        &:hover:not(:disabled) {
            background-color: #d6d0d9;
            border-bottom: 0.1em solid #49454f;
          

            .dark-theme & {
                background-color: #d0bcff;
                color: #381e72;
            }
        }

        &-invalid:not(-disabled),
        &:invalid:not(:disabled) {
            background-color: #e6e0e9;
            border-bottom:0.2em solid #b3261e;
          

            .dark-theme & {
                background-color: #d0bcff;
                color: #381e72;
            }
        }

        &-focus:not(-disabled),
        &:focus:not(:disabled) {
            background-color: #e6e0e9;
            border-bottom: 0.2em solid#6750a4;

            .dark-theme & {
                background-color: #d0bcff;
                color: #381e72;
            }
        }
    }
}
