.button {
    display: flex;
    border-radius: 100px;
    outline: none;
    border: none;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    transition: 0.3s;
    box-sizing: border-box;
}

/* SIZES */
.button--size-m {
    padding: 10px 24px;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
}

.button--size-l {
    padding: 16px 28px;
    height: 56px;
    font-size: 18px;
    line-height: 28px;
}

.button--filled {
    background-color: #6750A4;
    color: #FFFFFF;

    .dark-theme & {
      background-color: #d0bcff;
      color: #381e72;
    }

    &:hover:not(:disabled) {
        background-color: #735EAB;
        box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
        cursor: pointer;
        .dark-theme & {
          background-color: #d0bcff;
      color: #381e72;
      }
    }
    
    &:focus:not(:disabled) {
        background-color: #7965AF;
        box-shadow: none;
        .dark-theme & {
          background-color: #d0bcff;
      color: #381e72;
      }
    }
    
    &:disabled {
        background-color:#E2DCE4;
        color: #A9A5AB;

        .dark-theme & {
            background-color: #2e2b31;
            color: #6e6a71;
        }
    }
}

.button--outlined {
    background-color: #FEF7FF;
    color: #6750A4;
    border: 1px solid #79747E;
    .dark-theme & {
      background-color:#141218;
      border:1px solid #938f99;
      color:#d0bcff;
    }
    
    &:hover:not(:disabled) {
        background-color: #f2eaf8;
        border: 1px solid #79747e;
        cursor: pointer;
        .dark-theme & {
          background-color: #23202a ;
          border:1px solid #938f99;
          color:#d0bcff;
        }
       
    }
    
    &:focus:not(:disabled) {
        background-color: #EBE3F4;
        border: 1px solid #8875B8;
        .dark-theme & {
          background-color: #2b2734 ;
          border:1px solid #d0bcff;
          color:#d0bcff;
        }
    }
    
    &:disabled {
        background-color:#FEF7FF;
        border: 1px solid #E9E3EB;
        color: #BDB8BF;
        .dark-theme & {
          background-color: #141218 ;
          border:1px solid #2d2b31;
          color:#636068;
        }
    }
}

.button--text {
  background-color: #fef7ff;
  color: #6750a4;

  .dark-theme & {
      background-color: #141218;
      color: #d0bcff;
  }

  &:hover:not(:disabled) {
      background-color: #f2eaf8;
      cursor: pointer;
      .dark-theme & {
        background-color: #23202a;
        color: #d0bcff;
    }
  }
  
  &:focus:not(:disabled) {
      background-color: #ebe3f4;
      .dark-theme & {
        background-color: #2b2734;
        color: #d0bcff;
    }
  }
  
  &:disabled {
      background-color:#fef7ff;
      color: #a8a3aa;

      .dark-theme & {
          background-color: #141218;
          color: #636068;
      }
  }
}

.button--elevated {
  background-color: #f7f2fa;
  color: #6750a4;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);

  .dark-theme & {
      background-color: #1d1b20;
      color: #d0bcff;
  }

  &:hover:not(:disabled) {
      background-color: #ebe5f3;
      cursor: pointer;
      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
      .dark-theme & {
        background-color: #2b2832 ;
        color: #d0bcff;
    }
  }
  
  &:focus:not(:disabled) {
      background-color: #e6dff0;
      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
      .dark-theme & {
        background-color:#322e3b;
        color: #d0bcff;
    }
  }
  
  &:disabled {
      background-color:#e2dce4;
      color: #97939a;

      .dark-theme & {
          background-color: #2e2b31;
          color: #747077;
      }
  }
}

.button--tonal {
  background-color: #e8def8;
  color: #1d192b;

  .dark-theme & {
      background-color: #4a4458;
      color: #e8def8;
  }

  &:hover:not(:disabled) {
      background-color: #d8cee8;
      cursor: pointer;
      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
      .dark-theme & {
        background-color: #575065;
        color: #e8def8;
        cursor: pointer;
        }
  }
  
  &:focus:not(:disabled) {
      background-color: #d0c6df;
    }
  
  &:disabled {
      background-color:#e2dce4;
      color: #9b979e;

      .dark-theme & {
          background-color: #2e2b31;
          color:#6f6b72;
      }
  }
}
.button--filled-hover:not(.button--filled-disabled){
    background-color: #735EAB;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
    cursor: pointer;
}

.button--filled-focus:not(.button--filled-disabled) {
    background-color: #7965AF;
    box-shadow: none;
}

.button--filled-disabled {
    background-color:#E2DCE4;
    color: #A9A5AB;
}

.button--outlined-hover:not(.button--outlined-disabled){
    background-color: #F2EAF8;
    border: 1px solid #97929D;
    cursor: pointer;
}
.button--outlined-hover:not(.button--outlined-disabled){
.dark-theme & {
  background-color: #23202a ;
  border:1px solid #938f99;
  color:#d0bcff;
}
}

.button--outlined-focus:not(.button--outlined-disabled) {
    background-color: #EBE3F4;
    border: 1px solid #8875B8;
}
.button--outlined-focus:not(.button--outlined-disabled) {
  .dark-theme & {
    background-color: #2b2734 ;
    border:1px solid #d0bcff;
    color:#d0bcff;
  }
}
.button--outlined-disabled {
    background-color:#FEF7FF;
    border: 1px solid #E9E3EB;
    color: #BDB8BF;
}
.button--outlined-disabled {
  .dark-theme & {
    background-color: #141218 ;
    border:1px solid #2d2b31;
    color:#636068;
  }
}
.button--text-hover:not(.button--filled-disabled){
  background-color: #f2eaf8;
      cursor: pointer;
}
.button--text-hover:not(.button--filled-disabled){
  .dark-theme & {
    background-color: #23202a;
    color: #d0bcff;
}
}
.button--text-focus:not(.button--filled-disabled) {
  background-color: #ebe3f4;
}
.button--text-focus:not(.button--filled-disabled) {
  .dark-theme & {
    background-color: #2b2734;
    color: #d0bcff;
}
}

.button--text-disabled {
  background-color:#fef7ff;
  color: #a8a3aa;
}
.button--text-disabled {
.dark-theme & {
  background-color: #141218;
  color: #636068;
}
}

.button--elevated-hover:not(.button--filled-disabled){
  background-color: #f2eaf8;
      cursor: pointer;
}
.button--elevated-hover:not(.button--filled-disabled){
.dark-theme & {
  background-color: #2b2832 ;
  color: #d0bcff;
}
}
.button--elevated-focus:not(.button--filled-disabled) {
  background-color: #ebe3f4;
}
.button--elevated-focus:not(.button--filled-disabled) {
  .dark-theme & {
    background-color:#322e3b;
    color: #d0bcff;
}
}
.button--elevated-disabled {
  background-color:#fef7ff;
  color: #a8a3aa;
}
.button--elevated-disabled {
.dark-theme & {
  background-color: #2e2b31;
  color: #747077;
}
}
.button--tonal-hover:not(.button--filled-disabled){
  background-color: #d8cee8;
  cursor: pointer;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
}
.button--tonal-hover:not(.button--filled-disabled){
  .dark-theme & {
  background-color: #575065;
  color: #e8def8;
  cursor: pointer;
  }
}

.button--tonal-focus:not(.button--filled-disabled) {
  background-color: #d0c6df;
}
.button--tonal-focus:not(.button--filled-disabled) {
  .dark-theme & {
  background-color: #5d566b;
  color:#e8def8;
  }
}
.button--tonal-disabled {
  background-color:#e2dce4;
      color: #9b979e;
}