.cell {
    color: rgb(102, 112, 133);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}
.type0 {
    border-radius: 16px;
    background: rgb(236, 253, 243);
}
.let {
    background-color: aqua;
}
