.team {
    position: static;
    display: flex;
    &__purple {
        padding: 2px 8px 2px 8px;
        border-radius: 16px;
        background: rgb(249, 245, 255);
        color: rgb(105, 65, 198);
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0%;
        text-align: center;
    }
    &__cyan {
        padding: 2px 8px 2px 8px;
        flex: none;
        order: 0;
        flex-grow: 0;
        border-radius: 16px;
        background: rgb(239, 248, 255);
        color: rgb(23, 92, 211);
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0%;
        text-align: center;
    }
    &__blue {
        padding: 2px 8px 2px 8px;
        border-radius: 16px;
        background: rgb(238, 244, 255);
        color: rgb(53, 56, 205);
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0%;
        text-align: center;
    }
    &__etc {
        position: static;
        width: 32px;
        height: 22px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 2px 8px 2px 8px;
        border-radius: 16px;
        background: rgb(242, 244, 247);
        color: rgb(52, 64, 84);
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0%;
        text-align: center;
    }
}
