.tabs {
    margin-left: -30px;
    background: #fff;
    display: flex;
}
.TabList {
    background: #fff;
    display: flex;
}
.tab {
    background: #fff;
    display: inline;
    margin-right: 30px;
}

.react-tabs__tab--selected {
    border-bottom: 2px solid #6941c6;
    color: #6941c6;
    text-decoration: none;
}
