.table {
    width: 100%;
    border-collapse: collapse;

    &__header {
        th {
            padding: 12px 24px 12px 24px;
        }
        flex-direction: row;
        align-items: center;
        height: 67px;
        box-sizing: border-box;
        border-bottom: 1px solid rgb(234, 236, 240);
        background: rgb(249, 250, 251);
        color: rgb(102, 112, 133);
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0%;
        text-align: center;

        p {
            display: inline;
            padding-right: 10px;
            color: rgb(102, 112, 133);
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: 0%;
            text-align: left;
        }
    }

    &__line {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 55px;
        width: 100%;
        box-sizing: border-box;
        border-bottom: 1px solid rgb(234, 236, 240);
        background: rgb(255, 255, 255);
        color: rgb(102, 112, 133);
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0%;
        text-align: left;
        td {
            padding: 10px;
            align-items: center;
            box-sizing: border-box;
            border-bottom: 1px solid rgb(234, 236, 240);
            display: table-cell;
            div {
                display: inline;
            }
            input {
                margin: 20px;
            }
            p {
                display: inline;
                margin: 20px;
                color: rgb(102, 112, 133);
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0%;
                text-align: left;
            }
            img {
                padding: 6px;
                margin-bottom: -10px;
            }
            span {
                border-radius: 16px;
                background: rgb(236, 253, 243);
                position: static;
                width: 65px;
                height: 22px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 2px 8px 2px 6px;
                color: rgb(2, 122, 72);
                font-size: 12px;
                font-weight: 500;
                line-height: 18px;
                letter-spacing: 0%;
                text-align: center;
            }
        }
    }
}
