:root {
    --primary-color: #7f56d9;
    --Brand-700: #6941c6;
    --Brand-600: #7f56d9;
    --Brand-50: #f9f5ff;
    --Brand-200: #e9d7fe;
    --White: #fff;
    --Brand-100: #f4ebff;
    --Brand-25: #fcfaff;
    --Brand-300: #d6bbfb;
    --Gray-200: #eaecf0;
    --Gray-300: #d0d5dd;
    --Gray-700: #344054;
    --Gray-50: #f9fafb;
    --Gray-500: #667085;
    --Error-600: #d92d20;
    --Error-25: #fffbfa;
    --Error-50: #fef3f2;
    --Error-700: #b42318;
    --Error-300: #fda29b;
    --Error-100: #fee4e2;
    --Error-200: #fecdca;
}
