.buttonv2 {
    margin: 16px;
    display: inline-flex;
    border-radius: 8px;
    border: none;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.1px;
    transition: 0.3s;
    box-sizing: border-box;

    &--size {
        &-none {
            font-size: 14px;
            height: 36px;
            width: 36px;
        }
        &-sm {
            padding: 8px 14px;
            font-size: 14px;
            height: 36px;
            width: 148px;
        }
        &-md {
            padding: 10px 16px;
            font-size: 14px;
            height: 40px;
            width: 156px;
        }

        &-lg {
            padding: 10px 18px;
            font-size: 16px;
            height: 44px;
            width: 166px;
        }
        &-xl {
            padding: 12px 20px;
            font-size: 16px;
            height: 48px;
            width: 176px;
        }
        &-2xl {
            padding: 16px 28px;
            font-size: 18px;
            height: 60px;
            width: 166px;
        }
    }

    &--view {
        &-s1 {
            background-color: var(--Brand-600);
            color: #ffffff;

            &-disabled {
                background-color: var(--Brand-200);
                color: var(--White);
            }

            &-hover:not(-disabled),
            &:hover:not(:disabled) {
                background-color: #735eab;
                box-shadow:
                    0px 0px 0px 4px #f4ebff,
                    0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                cursor: pointer;
            }

            &-focus:not(-disabled),
            &:focus:not(:disabled) {
                background-color: var(--Brand-700);
                box-shadow: none;
            }
        }
        &-s10 {
            background-color: var(--Brand-600);
            color: #ffffff;

            &:disabled {
                background-color: var(--Brand-200);
                color: var(--White);
            }

            &-hover:not(-disabled),
            &:hover:not(:disabled) {
                background-color: #735eab;
                box-shadow:
                    0px 0px 0px 4px #f4ebff,
                    0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                cursor: pointer;
            }

            &-focus:not(-disabled),
            &:focus:not(:disabled) {
                background-color: var(--Brand-700);
                box-shadow: none;
            }
        }
        &-s24 {
            background-color: var(--Brand-600);
            color: #ffffff;
            .icon-end {
                margin-left: 5px;
                margin-top: 5px;
                .circle-end {
                    fill: transparent;
                    stroke: white;
                }
            }
            &-disabled {
                background-color: var(--Brand-200);
                color: var(--White);
                .icon-end {
                    margin-left: 5px;
                    margin-top: 5px;
                    .circle-end {
                        fill: transparent;
                        stroke: white;
                    }
                }
            }

            &-hover:not(-disabled),
            &:hover:not(:disabled) {
                background-color: #735eab;
                box-shadow:
                    0px 0px 0px 4px #f4ebff,
                    0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                cursor: pointer;
            }

            &-focus:not(-disabled),
            &:focus:not(:disabled) {
                background-color: var(--Brand-700);
                box-shadow: none;
            }
        }
        &-s2 {
            background-color: var(--Brand-50);
            color: var(--Brand-700);

            &-disabled {
                background-color: var(--Brand-25);
                color: var(--Brand-300);
            }

            &-hover:not(-disabled),
            &:hover:not(:disabled) {
                background-color: var(--Brand-50);
                box-shadow:
                    0px 0px 0px 4px #f4ebff,
                    0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                cursor: pointer;
            }

            &-focus:not(-disabled),
            &:focus:not(:disabled) {
                background-color: var(--Brand-100);
                box-shadow: none;
            }
        }
        &-s16 {
            background-color: var(--Brand-50);
            color: var(--Brand-700);
            .icon-start {
                margin-right: 5px;
                margin-top: 5px;
                .circle-start {
                    fill: transparent;
                    stroke: var(--Brand-700);
                }
            }
            &-disabled {
                background-color: var(--Brand-25);
                color: var(--Brand-300);
                .icon-start {
                    margin-right: 5px;
                    margin-top: 2px;
                    .circle-start {
                        fill: transparent;
                        stroke: var(--Brand-300);
                    }
                }
            }

            &-hover:not(-disabled),
            &:hover:not(:disabled) {
                background-color: var(--Brand-50);
                box-shadow:
                    0px 0px 0px 4px #f4ebff,
                    0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                cursor: pointer;
            }

            &-focus:not(-disabled),
            &:focus:not(:disabled) {
                background-color: var(--Brand-100);
                box-shadow: none;
            }
        }
        &-s11 {
            background-color: var(--Brand-50);
            color: var(--Brand-700);

            &:disabled {
                background-color: var(--Brand-25);
                color: var(--Brand-200);
            }

            &-hover:not(-disabled),
            &:hover:not(:disabled) {
                background-color: var(--Brand-50);
                box-shadow:
                    0px 0px 0px 4px #f4ebff,
                    0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                cursor: pointer;
            }

            &-focus:not(-disabled),
            &:focus:not(:disabled) {
                background-color: var(--Brand-100);
                box-shadow: none;
            }
        }
        &-s3 {
            background-color: var(--White);
            color: var(--Gray-700);
            border: 1px solid var(--Gray-300);
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            &:disabled {
                border: 1px solid var(--Gray-200);
                background: var(--White);
                box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                color: var(--Gray-300);
            }

            &-hover:not(-disabled),
            &:hover:not(:disabled) {
                border: 1px solid var(--Gray-300);
                background: var(--White);
                box-shadow:
                    0px 0px 0px 4px #f2f4f7,
                    0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                cursor: pointer;
            }

            &-focus:not(-disabled),
            &:focus:not(:disabled) {
                border: 1px solid var(--Gray-300);
                background-color: var(--Gray-50);
                box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            }
        }
        &-s17 {
            background-color: var(--White);
            color: var(--Gray-700);
            .icon-start {
                margin-right: 5px;
                margin-top: 2px;
                .circle-start {
                    fill: transparent;
                    stroke: var(--Gray-700);
                }
            }
            border: 1px solid var(--Gray-300);
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            &-disabled {
                border: 1px solid var(--Gray-200);
                background: var(--White);
                box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                color: var(--Gray-300);
                .icon-start {
                    margin-right: 5px;
                    margin-top: 2px;
                    .circle-start {
                        fill: transparent;
                        stroke: var(--Gray-300);
                    }
                }
            }

            &-hover:not(-disabled),
            &:hover:not(:disabled) {
                border: 1px solid var(--Gray-300);
                background: var(--White);
                box-shadow:
                    0px 0px 0px 4px #f2f4f7,
                    0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                cursor: pointer;
            }

            &-focus:not(-disabled),
            &:focus:not(:disabled) {
                border: 1px solid var(--Gray-300);
                background-color: var(--Gray-50);
                box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            }
        }
        &-s12 {
            background-color: var(--White);
            color: var(--Gray-700);
            border: 1px solid var(--Gray-300);
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            &:disabled {
                border: 1px solid var(--Gray-200);
                background: var(--White);
                box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                color: var(--Gray-300);
            }

            &-hover:not(-disabled),
            &:hover:not(:disabled) {
                border: 1px solid var(--Gray-300);
                background: var(--White);
                box-shadow:
                    0px 0px 0px 4px #f2f4f7,
                    0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                cursor: pointer;
            }

            &-focus:not(-disabled),
            &:focus:not(:disabled) {
                border: 1px solid var(--Gray-300);
                background-color: var(--Gray-50);
                box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            }
        }
        &-s4 {
            color: var(--Brand-700);
            background-color: var(--White);

            &:disabled {
                color: var(--Gray-300);
            }

            &-hover:not(-disabled),
            &:hover:not(:disabled) {
                color: var(--Brand-700);
                background-color: var(--White);
                cursor: pointer;
            }

            &-focus:not(-disabled),
            &:focus:not(:disabled) {
                background: var(--Brand-50, #f9f5ff);
            }
        }
        &-s13 {
            color: var(--Brand-700);
            background-color: var(--White);

            &:disabled {
                color: var(--Gray-300);
            }

            &-hover:not(-disabled),
            &:hover:not(:disabled) {
                color: var(--Brand-700);
                background-color: var(--White);
                cursor: pointer;
            }

            &-focus:not(-disabled),
            &:focus:not(:disabled) {
                background: var(--Brand-50, #f9f5ff);
            }
        }
        &-s18 {
            color: var(--Brand-700);
            background-color: var(--White);
            .icon-start {
                margin-right: 5px;
                margin-top: 2px;
                .circle-start {
                    fill: transparent;
                    stroke: var(--Brand-700);
                }
            }
            &-disabled {
                color: var(--Gray-300);
                .icon-start {
                    margin-right: 5px;
                    margin-top: 2px;
                    .circle-start {
                        fill: transparent;
                        stroke: var(--Grey-300);
                    }
                }
            }

            &-hover:not(-disabled),
            &:hover:not(:disabled) {
                color: var(--Brand-700);
                background-color: var(--White);
                cursor: pointer;
            }

            &-focus:not(-disabled),
            &:focus:not(:disabled) {
                background: var(--Brand-50, #f9f5ff);
            }
        }
        &-s5 {
            color: var(--Gray-500);
            background-color: var(--White);
            &:disabled {
                color: var(--Gray-300);
            }

            &-hover:not(-disabled),
            &:hover:not(:disabled) {
                color: var(--Gray-500);
                background-color: var(--White);
                cursor: pointer;
            }

            &-focus:not(-disabled),
            &:focus:not(:disabled) {
                background-color: var(--Gray-50, #f9fafb);
            }
        }
        &-s19 {
            color: var(--Gray-500);
            background-color: var(--White);
            .icon-start {
                margin-right: 5px;
                margin-top: 2px;
                .circle-start {
                    fill: transparent;
                    stroke: var(--Gray-500);
                }
            }
            &-disabled {
                color: var(--Gray-300);
                .icon-start {
                    margin-right: 5px;
                    margin-top: 2px;
                    .circle-start {
                        fill: transparent;
                        stroke: var(--Gray-300);
                    }
                }
            }

            &-hover:not(-disabled),
            &:hover:not(:disabled) {
                color: var(--Gray-500);
                background-color: var(--White);
                cursor: pointer;
            }

            &-focus:not(-disabled),
            &:focus:not(:disabled) {
                background-color: var(--Gray-50, #f9fafb);
            }
        }
        &-s14 {
            color: var(--Gray-500);
            background-color: var(--White);
            &:disabled {
                color: var(--Gray-300);
            }

            &-hover:not(-disabled),
            &:hover:not(:disabled) {
                color: var(--Gray-500);
                background-color: var(--White);
                cursor: pointer;
            }

            &-focus:not(-disabled),
            &:focus:not(:disabled) {
                background-color: var(--Gray-50, #f9fafb);
            }
        }
        &-s6 {
            color: var(--White);
            background-color: var(--Error-600);
            &:disabled {
                background-color: var(--Error-200);
            }

            &-hover:not(-disabled),
            &:hover:not(:disabled) {
                color: var(--White);
                background-color: var(--Error-600, #d92d20);
                box-shadow:
                    0px 0px 0px 4px #fee4e2,
                    0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                cursor: pointer;
            }

            &-focus:not(-disabled),
            &:focus:not(:disabled) {
                background-color: var(--Error-700);
                color: var(--White);
            }
        }
        &-s20 {
            color: var(--White);
            background-color: var(--Error-600);
            .icon-start {
                margin-right: 5px;
                margin-top: 2px;
                .circle-start {
                    fill: transparent;
                    stroke: white;
                }
            }
            &-disabled {
                background-color: var(--Error-200);
                color: var(--White);
                .icon-start {
                    margin-right: 5px;
                    margin-top: 2px;
                    .circle-start {
                        fill: transparent;
                        stroke: white;
                    }
                }
            }

            &-hover:not(-disabled),
            &:hover:not(:disabled) {
                color: var(--White);
                background-color: var(--Error-600, #d92d20);
                box-shadow:
                    0px 0px 0px 4px #fee4e2,
                    0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                cursor: pointer;
            }

            &-focus:not(-disabled),
            &:focus:not(:disabled) {
                background-color: var(--Error-700);
                color: var(--White);
            }
        }
        &-s7 {
            color: var(--Error-600);
            background-color: var(--Error-50);
            &:disabled {
                background-color: var(--Error-25);
                color: var(--Error-300);
            }

            &-hover:not(-disabled),
            &:hover:not(:disabled) {
                border: 1px solid var(--Error-50);
                background-color: var(--Error-50);
                box-shadow:
                    0px 0px 0px 4px #fee4e2,
                    0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                cursor: pointer;
            }

            &-focus:not(-disabled),
            &:focus:not(:disabled) {
                background-color: var(--Error-100);
                color: var(--Error-600);
            }
        }
        &-s21 {
            color: var(--Error-600);
            background-color: var(--Error-50);
            .icon-start {
                margin-right: 5px;
                margin-top: 2px;
                .circle-start {
                    fill: transparent;
                    stroke: var(--Error-600);
                }
            }
            &-disabled {
                background-color: var(--Error-25);
                color: var(--Error-300);
                .icon-start {
                    margin-right: 5px;
                    margin-top: 2px;
                    .circle-start {
                        fill: transparent;
                        stroke: var(--Error-300);
                    }
                }
            }

            &-hover:not(-disabled),
            &:hover:not(:disabled) {
                border: 1px solid var(--Error-50);
                background-color: var(--Error-50);
                box-shadow:
                    0px 0px 0px 4px #fee4e2,
                    0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                cursor: pointer;
            }

            &-focus:not(-disabled),
            &:focus:not(:disabled) {
                background-color: var(--Error-100);
                color: var(--Error-600);
            }
        }
        &-s8 {
            border: 1px solid var(--Error-300);
            background-color: var(--White);
            color: var(--Error-700);
            &:disabled {
                color: var(--Error-300);
                border: 1px solid var(--Error-200);
                background: var(--White);
                box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            }

            &-hover:not(-disabled),
            &:hover:not(:disabled) {
                border: 1px solid var(--Error-300);
                background-color: var(--White);
                box-shadow:
                    0px 0px 0px 4px #fee4e2,
                    0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                cursor: pointer;
            }

            &-focus:not(-disabled),
            &:focus:not(:disabled) {
                background-color: var(--Error-50);
                color: var(--Error-700);
            }
        }
        &-s22 {
            border: 1px solid var(--Error-300);
            background-color: var(--White);
            color: var(--Error-700);
            .icon-start {
                margin-right: 5px;
                margin-top: 2px;
                .circle-start {
                    fill: transparent;
                    stroke: var(--Error-700);
                }
            }
            &-disabled {
                color: var(--Error-300);
                border: 1px solid var(--Error-200);
                background: var(--White);
                box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                .icon-start {
                    margin-right: 5px;
                    margin-top: 2px;
                    .circle-start {
                        fill: transparent;
                        stroke: var(--Error-300);
                    }
                }
            }

            &-hover:not(-disabled),
            &:hover:not(:disabled) {
                border: 1px solid var(--Error-300);
                background-color: var(--White);
                box-shadow:
                    0px 0px 0px 4px #fee4e2,
                    0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                cursor: pointer;
            }

            &-focus:not(-disabled),
            &:focus:not(:disabled) {
                background-color: var(--Error-50);
                color: var(--Error-700);
            }
        }
        &-s9 {
            background-color: var(--White);
            color: var(--Error-700);
            &:disabled {
                color: var(--Error-300);
                background: var(--White);
                box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            }

            &-hover:not(-disabled),
            &:hover:not(:disabled) {
                background-color: var(--White);
                cursor: pointer;
            }

            &-focus:not(-disabled),
            &:focus:not(:disabled) {
                background-color: var(--Error-50);
                color: var(--Error-700);
            }
        }
        &-s23 {
            background-color: var(--White);
            color: var(--Error-700);
            .icon-start {
                margin-right: 5px;
                margin-top: 2px;
                .circle-start {
                    fill: transparent;
                    stroke: var(--Error-700);
                }
            }

            &-disabled {
                color: var(--Error-300);
                background: var(--White);
                box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                .icon-start {
                    margin-right: 5px;
                    margin-top: 2px;
                    .circle-start {
                        fill: transparent;
                        stroke: var(--Error-300);
                    }
                }
            }

            &-hover:not(-disabled),
            &:hover:not(:disabled) {
                background-color: var(--White);
                cursor: pointer;
            }

            &-focus:not(-disabled),
            &:focus:not(:disabled) {
                background-color: var(--Error-50);
                color: var(--Error-700);
            }
        }
        &-s15 {
            background-color: var(--Brand-600);
            color: #ffffff;
            .icon-start {
                margin-right: 5px;
                margin-top: 5px;
                .circle-start {
                    fill: transparent;
                    stroke: white;
                }
            }
            &-disabled {
                background-color: var(--Brand-200);
                color: var(--White);
                .icon-start {
                    margin-right: 5px;
                    margin-top: 5px;
                    .circle-start {
                        fill: transparent;
                        stroke: white;
                    }
                }
            }

            &-hover:not(-disabled),
            &:hover:not(:disabled) {
                background-color: #735eab;
                box-shadow:
                    0px 0px 0px 4px #f4ebff,
                    0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                cursor: pointer;
            }

            &-focus:not(-disabled),
            &:focus:not(:disabled) {
                background-color: var(--Brand-700);
                box-shadow: none;
            }
        }
        &-outlined {
            background-color: #fef7ff;
            color: var(--primary-color);
            border: 1px solid #79747e;

            &:disabled {
                background-color: #fef7ff;
                border: 1px solid #e9e3eb;
                color: #bdb8bf;
            }

            &-hover:not(-disabled),
            &:hover:not(:disabled) {
                background-color: #f2eaf8;
                border: 1px solid #97929d;
                cursor: pointer;
            }

            &-focus:not(-disabled),
            &:focus:not(:disabled) {
                background-color: #ebe3f4;
                border: 1px solid #8875b8;
            }
        }
        &-s25 {
            background-color: var(--Brand-600);
            color: #ffffff;
            .icon-start {
                margin-right: 5px;
                margin-top: 5px;
                .circle-start {
                    r: 3;
                    fill: white;
                    stroke: white;
                }
            }
            &-disabled {
                background-color: var(--Brand-200);
                color: var(--White);
                .icon-start {
                    margin-right: 5px;
                    margin-top: 5px;
                    .circle-start {
                        r: 3;
                        fill: white;
                        stroke: white;
                    }
                }
            }

            &-hover:not(-disabled),
            &:hover:not(:disabled) {
                background-color: #735eab;
                box-shadow:
                    0px 0px 0px 4px #f4ebff,
                    0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                cursor: pointer;
            }

            &-focus:not(-disabled),
            &:focus:not(:disabled) {
                background-color: var(--Brand-700);
                box-shadow: none;
            }
        }
    }
}
